body{
    background-color:#000;
    color:#FFF;
}

span.oriange-cube {
    border-radius: 10px;
    background: #F90;
    color:#000;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
    font-size:12px;
    background-color: #555;
}
div.video-box{
    height:180px;
    width:300px;
    float:left;
    padding-left:20px;
    padding-top:30px;
    text-overflow: ellipsis;
}

div.video-poster {
    width:300px;
    height:169px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    background-color: #555;
}
div.video-length {
    width:300px;
    background-color: #555;
    font-size : 10px;
    opacity: 0.8;
    text-align:right;
    position:relative;
    top:156px;
}