{{ define "play" }}
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="common.css">
        <title>index</title>
    </head>
    <body>
    <a href="http://localhost:8080/index.html">
        <h1>大规模数据处理 <span class="oriange-cube">Project3</span></h1>
    </a>
    <video width="1120" height="540" controls="controls" id="video" preload="auto" poster="/poster?name={{.VideoPoster}}">
        <source src="http://localhost:8080/getVideos?index={{.VideoIndex}}" type="video/mp4">
        换个支持video标签的浏览器去吧
    </video>

    <div height="60px" />
    <footer>
        黄永锡 119033910011<br />
        网站服务器端完全由 GO 语言编写，使用 Ceph 对象存储作为后端存储，并通过 go-ceph 实现服务器端对 Ceph 存储的访问。<br />
        项目源代码 <a href="https://github.com/Riften/go-ceph-VOD-Web">go-ceph-VOD-Web</a>.
    </footer>
    </body>
    </html>
{{ end }}